#imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton {
    font-size: 2em;
    cursor: pointer;
    margin: 0 10px;
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
}

.thumbnail {
    margin: 10px;
    cursor: pointer;
}

.thumbnail img {
    max-width: 100px; /* Adjust the size as needed */
}

.navButton {
    font-size: 2em;
    cursor: pointer;
    margin: 0 10px;
    display: block;
}

.navButton.prev {
    display: none;
}

#mainImage {
    transition: opacity 0.5s ease-in-out; /* This sets up a transition for opacity */
}
