body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.section {
    margin: 0 20px; /* Add some space around the sections */
    text-align: center; /* Center-align the content inside the section */
}

.section-heading {
    margin-bottom: 20px;
    text-align: center; /* Center-align the heading */
}

.box {
    width: 500px; 
    padding: 20px 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
}

.articles {
    background-color: #f2f2f2;
}

.personal-stories {
    background-color: #e0e0e0;
    position: relative;
}

.send-story-button {
    position: absolute;
    top: 100%; /* Position it just below the gray box */
    left: 50%; /* Position it in the center */
    transform: translateX(-50%); /* Center it horizontally */
}

.scroll-box {
    max-height: 200px;
    overflow-y: scroll;
}

.story {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.link-box {
    display: block;
    position: relative;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #bf3228;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

.link-box:hover {
    background-color: #4628bf;
    border-color: #4628bf;
}
